DEPLOYMENT_NETWORK=testnet
DEPLOYMENT_VERSION=mumbai
MAIN_RPC=https://goerli.infura.io/v3/7234f042c3a409599c60f96f6dd9fbc
MATIC_RPC=https://rpc-mumbai.matic.today
MARKETPLACE_API_HOST=https://marketplace.api.matic.today/api/v1
FILE_HOST=https://marketplace.api.matic.today/
DISPLAY_SALE_TAG_TIME=2