DEPLOYMENT_NETWORK=testnet
DEPLOYMENT_VERSION=mumbai
MAIN_RPC=https://goerli.infura.io/v3/<key>
MATIC_RPC=https://rpc-mumbai.matic.today
MARKETPLACE_API_HOST=marketplace_api
FILE_HOST=marketplace_api
MATIC_EXPLORER=https://mumbai-explorer.matic.today/
MAIN_EXPLORER=https://goerli.etherscan.io/
SALT=0x0000000000000000000000000000000000
DISPLAY_SALE_TAG_TIME=0
MATIC_WIDGET_KEY=xxxxxxxxxxxxxxxxxxxx
